@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

body {
  background-color: #eef1ff;
  margin: 30px;
  margin-left: 100px;
  overflow-x: hidden;
}

h2 {
  margin-top: 120px;
  margin-bottom: 40px;
  text-decoration: none;
  font-family: "Josefin Sans", "sans serif";
}

.tableclass {
  margin-bottom: 100px;
  background-color: beige;
}

#logotitle {
    font-family: "Josefin Sans", sans-serif;
  }

#carDetails{
  margin-top: 120px;
  margin-bottom: 40px;
  text-decoration: none;
  font-family: "Josefin Sans", "sans serif";
}
  
  #formDiv {
    position: relative; 
    display: inline-block; 
    max-width: 1000px;
    min-width: 500px;
    margin-top: 20px; 
    box-sizing: border-box;
  }

  #formDiv2 {
    position: relative; 
    display: inline-block; 
    max-width: 1000px;
    min-width: 500px;
    padding-top: 50px; 
    box-sizing: border-box;
  }

  #formRow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #formRow2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .navbar-collapse{
    flex-grow: 0;
  } 

  footer{
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    display:block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    right: 0;
    left: 0;
  }
